*{
    margin: 0;
    padding: 0
}

body{
    background-color: AAAAAA;
}

.div-logo{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.Logo{
    width: 100%;
    position: absolute;
    height: auto;
    right: 0;
}
.register-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.div-content{
    margin-left: 0.5%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;

}
.input-container{
    color: #545454;
    height: 50px;
    font-weight: 300;
    float: left;
    padding: 10px;
    border-radius: 5;
}

.inputEmail{
    width: 100%;
}

button{
    border-radius: 5px;
    width: 420px;
    height: 50px;
    background-color: #FA321A;
    color: #FFFF;
    font: bold;
    justify-content: center;
    align-items: center;
}
.columns{
    display: grid;
}
