.containerAbout{
    color: black;
    height: 100%;
    display: flex;
    padding:  5rem 3rem;;
}

.titleAbout{
    width: 30%;
    font-size: 5rem;
}
.cardAbout{
    background-color: rgb(243, 243, 243);
    color: #1b1b1be1;
    font-weight: 400;
    padding: 4rem 8rem;
    width: 80%;
    height: 70vh;
    border-radius: 5px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cardAbout span{
    font-weight: 600;
    padding: 1rem 0rem;
}