.accordion input[type="checkbox"]:checked + .nomeComidaEscolhido {
    color: var(--L1);
}

.EscolhidoMain{
    margin-left: 5vw;
    display: flex;
    gap: 3vw;
    padding-bottom: 1vh;
    margin-bottom: 15vh;
}

.section1Escolhido{
    background-color: var(--B2);
    border-radius: 20px;
    padding: 5vh 3vw;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    width: 35vw;
    
}

.section1Escolhido h4{
    font-size: 2vw;
    color: var(--C3);
}

.section1Escolhido p{
    font-size: 2vw;
    color: var(--C2);
    max-width: 35vw;
}

.section2AlimentoEscolher{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.section2AlimentoEscolher button{ 
    background-color: var(--L2);
    border: none;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;

}

.section2AlimentoEscolher button:hover {   
    background-color: var(--L1);
    cursor: pointer;
}


.section2AlimentoEscolher img{
    width: 5vw;
    height: 5vw;
    padding: 1vw;
    
    
    
}

.section2AlimentoEscolher div{
    background-color: var(--B1);
    color: var(--L2);
    border: 4px solid var(--L2);
    font-size: 2.3vw;
    padding: 2vh 2vw;
    width: 15vw;
    border-radius: 0px 10px 10px 0px;
    
}

.section2AlimentoEscolher div:hover {
    border: 4px solid var(--L1);
    
}


.accordion li{
    list-style: none;
    margin-left: 1vw;
}

.accordion li .labelComidaEScolhido{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.7vw;
    color: var(--C2);
    position: relative;
    height: 8vh;

}

.accordion li .labelComidaEScolhido::before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--C0);
    position: absolute;
    bottom: 0;
}

.accordion li:last-of-type .labelComidaEScolhido::before {
    content: '';
    width: 0;
    height: 4px;
    background-color: var(--C0);
    position: absolute;
    bottom: 0;
}


.accordion li .labelComidaEScolhido::after {
    content: '';
    background: url('../../../assets/icons/V.svg') no-repeat;
    margin-left: 1vw;
    width: 2vw;
    height: 2.5vh;
    background-size: 2vw
}

.accordion input[type="radio"]{
    display: none;

}


.accordion .content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    position: relative;
}

.accordion .content::before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--C0);
    position: absolute;
    bottom: 0;
}

.accordion li:last-child .content::before {
    content: '';
    width: 0;
    height: 4px;
    background-color: var(--C0);
    position: absolute;
    bottom: 0;
}

.accordion .content div{
    display: flex;
    gap: 0.5vw;
    margin-bottom: 2vh;
}

.accordion .content input{
    width: 2vw;
    color: var(--L2)
}

.nomeComidaEscolhido{
    font-size: 1.4vw;
    color: var(--C2);
}

.accordion input[type="radio"]:checked + .labelComidaEScolhido + .content{
    max-height: 40vh;
}

.accordion input[type="radio"]:checked + .labelComidaEScolhido::after{
    background: url('../../../assets/icons/VdeLado.svg') no-repeat;
    width: 5vw;
    height: 4vh;
    background-size: 1vw;

}

.accordion input[type="radio"]:checked + .labelComidaEScolhido::before{
    content: '';
    width: 0%;
}