.headerEdicao img{
  width: 59.8vw;
  height: 25vh;
  object-fit: cover;
  
}

.headerEdicao{
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--L2);
  color: var(--B1);
  height: 25vh;
  justify-items: end;
}

.headerContentEdicao{
  padding: 0 5vw;
  display: flex;
  align-items: center;
  font-size: 2.3vw;
  text-transform: uppercase;

}


.contentEdicao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5vh 5vw;
  align-items: center;
}

.contentEdicao section{
  max-width: 26vw;
  display: flex;
  gap: 1vh;
  flex-direction: column;
  margin-bottom: 5vh;
}

.contentEdicao h2{
  font-size: 3vw;
  color: var(--C4);
}

.contentEdicao p{
  color: var(--C2);
  font-size: 1.8vw;
  max-width: 26vw;

}

.dateEdicao{
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;

}

.datePicker{
  border-radius: 20px;
  border: 3.5px solid var(--L1);
  padding: 2.7vh 1vw;
  width: 100%;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--C0)
}

.ImageEdicao{
  width: 40vw;
}


