.headerGerenciamento img{
    width: 59.8vw;
    height: 25vh;
    object-fit: cover;
    
}

.headerGerenciamento{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--L2);
    color: var(--B1);
    height: 25vh;
    justify-items: end;
}

.headerContentGerenciamento{
    padding: 0 5vw;
    display: flex;
    align-items: center;
    font-size: 2.3vw;
    text-transform: uppercase;

}

.contentGerenc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5vh 5vw;
    align-items: center;
}

.contentGerenc section{
    max-width: 30vw;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    margin-bottom: 5vh;
}

.contentGerenc h2{
    font-size: 3vw;
    color: var(--C4);
}

.contentGerenc p{
    color: var(--C2);
    font-size: 1.8vw;
}

.buttonsGerec{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;

}

.contentGerenc button{
    background-color: var(--L2);
    color: var(--B1);
    border: none;
    border-radius: 5px;
    padding: 2vh 3.2vw;
    font-size: 1.7vw;
    transition: .2s;

}

.contentGerenc button:hover{
    background-color: var(--L1);
    color: var(--B2);
    cursor: pointer;
}

.ImageGerenc{
    width: 40vw;
}