

.AlimentoEscolherMain{
    margin-left: 5vw;
    display: flex;
    gap: 3vw;
    padding-bottom: 1vh;
    margin-bottom: 15vh;
}

.section1AlimentoEscolher{
    background-color: var(--B2);
    border-radius: 20px;
    padding: 5vh 3vw;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    width: 35vw;
    
}

.formAlimentoEscolher{
    position: relative;
    margin-bottom: 3vh;
}

.formAlimentoEscolher input{
    width: 100%;
    padding: 1rem 2vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
    border: none;

}   

.formAlimentoEscolher input::placeholder{
    color: var(--C1);
    font-size: 1.5vw;
    position: absolute;
    top: 25%
}

.formAlimentoEscolher img{
    position: absolute;
    top: 25%;
    right: 1vw;
    width: 3vw;
    height: 2vw;
}

.section2AlimentoCriar{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.section2AlimentoCriar button{ 
    display: inline-block;
    width: 4vw;
    height: 4vw;  
    float: left;
    overflow: hidden; 
    transition: all .5s ease;
    background-color: var(--L2);
    border: none;
    border-radius: 10px 0px 0px 10px;
}   

.section2AlimentoCriar button:hover {   
    background-color: var(--L1);
    cursor: pointer;
    width: 100%;
    
}

.iconButton{
    display: inline-block;
    width: 4vw;
    height: 4vw; 
    overflow: hidden;
    
}

.section2AlimentoCriar img{
    width: 4vw;
    height: 4vw;
    padding: 1vw; 

}

.section2AlimentoCriar span{
    display: inline-block;
    background-color: var(--B1);
    color: var(--L2);
    font-size: 1.5vw;
    padding: 1.8vh 2vw;
    text-align: justify;
    margin-right: 0.3vw;
    margin-bottom: 0.7vh;
}


.accordionCriar{
    display: flex;
    flex-direction: column;
    gap: 3vh
}


.accordion li{
    list-style: none;
    margin-left: 1vw;
}

.accordion li .labelComidaAlimentoEscolher{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.7vw;
    color: var(--C2);
    position: relative;
    height: 8vh;

}

.accordion li .labelComidaAlimentoEscolher::before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--C0);
    position: absolute;
    bottom: 0;
}

.accordion li:last-of-type .labelComidaAlimentoEscolher::before {
    content: '';
    width: 0;
    height: 4px;
    background-color: var(--C0);
    position: absolute;
    bottom: 0;
}


.accordion li .labelComidaAlimentoEscolher::after {
    content: '';
    background: url('../../../assets/icons/V.svg') no-repeat;
    margin-left: 1vw;
    width: 2vw;
    height: 2.5vh;
    background-size: 2vw
}

.accordion input[type="radio"]{
    display: none;

}


.accordion .content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    position: relative;
}

.accordion .content::before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--C0);
    position: absolute;
    bottom: 0;
}

.accordion li:last-child .content::before {
    content: '';
    width: 0;
    height: 4px;
    background-color: var(--C0);
    position: absolute;
    bottom: 0;
}

.accordion .content div{
    display: flex;
    gap: 0.5vw;
    margin-bottom: 2vh;
}

.accordion .content input{
    width: 2vw;
    color: var(--L2)
}

.nomeComidaAlimentoEscolher{
    font-size: 1.4vw;
    color: var(--C2);
    height: 4vh;
    
}




.accordion .content div span::after{
    content: '';
    background: url('../../../assets/icons/LixoPreto.svg') no-repeat;
    margin-left: 1vw;
    width: 2vw;
    height: 3vh;
    background-size: 1vw;
    display: flex;
    position: absolute;
    margin-left: 4vw;
    
}

.accordion .content div span::before{
    content: '';
    background: url('../../../assets/icons/EditPreto.svg') no-repeat;
    margin-left: 1vw;
    width: 2vw;
    height: 3vh;
    background-size: 1.5vw;
    display: flex;
    position: absolute;
    
}

.accordion .content div span:hover::before {
    cursor: pointer;
    content: '';
    background: url('../../../assets/icons/EditLaranja.svg') no-repeat;
    margin-left: 1vw;
    width: 2vw;
    height: 3vh;
    background-size: 1.5vw;
    display: flex;
    position: absolute;
}

.accordion .content div span:hover::after {
    cursor: pointer;
    content: '';
    background: url('../../../assets/icons/LixoLaranja.svg') no-repeat;
    margin-left: 1vw;
    width: 2vw;
    height: 3vh;
    background-size: 1vw;
    display: flex;
    position: absolute;
    margin-left: 4vw;
}

.accordion input[type="radio"]:checked + .labelComidaAlimentoEscolher + .content{
    max-height: 40vh;
}

.accordion input[type="radio"]:checked + .labelComidaAlimentoEscolher::after{
    background: url('../../../assets/icons/VdeLado.svg') no-repeat;
    width: 5vw;
    height: 4vh;
    background-size: 1vw;

}

.accordion input[type="radio"]:checked + .labelComidaAlimentoEscolher::before{
    content: '';
    width: 0%;
}