

.AlimentoCriarMain{
    margin-left: 5vw;
    display: flex;
    gap: 3vw;
    padding-bottom: 1vh;
    margin-bottom: 15vh;
}

.section1AlimentoCriar{
    background-color: var(--B2);
    border-radius: 20px;
    padding: 5vh 3vw;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    width: 35vw;
    
}

.section1AlimentoCriar h4{
    font-size: 1.8vw;
    color: var(--C3);
    margin-bottom: 2vh;
}


.section2AlimentoCriar{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.section2AlimentoCriar button{ 
    background-color: var(--L2);
    border: none;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;

}

.section2AlimentoCriar button:hover {   
    background-color: var(--L1);
    cursor: pointer;
}


.section2AlimentoCriar img{
    width: 5vw;
    height: 5vw;
    padding: 1vw;
    
    
    
}

.section2AlimentoCriar div{
    background-color: var(--B1);
    color: var(--L2);
    border: 4px solid var(--L2);
    font-size: 2.3vw;
    padding: 2vh 2vw;
    width: 15vw;
    border-radius: 0px 10px 10px 0px;
    
}

.section2AlimentoCriar div:hover {
    border: 4px solid var(--L1);
    
}

.accordionCriar{
    display: flex;
    flex-direction: column;
    gap: 3vh
}


.accordionCriar input{
    width: 100%;
    padding: 1.5vh 1vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
    border: none;
    color: var(--C2);
   font-size: 1.5vw;

}   

.accordionCriar input::placeholder{
    color: var(--C0);
    font-size: 1.5vw;
    position: absolute;
    top: 25%
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0 none;
    outline: 0;
} 

