/* Template */
* {
    margin: 0;
    padding: 0
}

.welcome img{
    max-width: 100vw;
}

/* Welcome Styles */
.welcome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--L2);
    color: var(--B1);

}

.welcomeContent{
    padding: 2vw 3vw;
}

.welcomeText{
    max-width: 20vw;
}

.welcomeText h1{
    font-size: 4vw;
    font-weight: bold;
}

.welcomeText h2{
    font-size: 2vw;
    font-weight: 500;
}

.welcomeText h3{
    font-size: 1.3vw;
    font-weight: normal;
    margin-top: -0.4vw;
}

.welcomeText p{
    margin-top: 1vw;
    font-size: 0.9vw;
    max-width: 13vw;
    font-weight: 500;
}

.welcomeCalendar{
    margin-top: 1vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    max-width: 15vw;
}

.calendarImage{
    max-width: 3vw;
}

.dateInput{
    border-radius: 10px;
    border: none;
    height: 2.5vw;
    margin-top: 0.2vw;
    width: 90%;
    padding: 0px 10px;
    color: var(--C2);
    font-size: 1vw;
}

/* Remove the calendar icon from the input */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.foodImageHome{
    width: 70vw;
}


/* Main Styles */

.mainHome{
    margin-top: 3vw;
    margin-left: 3vw;
}

.scrollCardsHome{
    margin-bottom: 3vw;
}

