section{
/*     background-color: #FD6A48; */
}


.typeContainer{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}
.searchContainer{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    height: 4rem;
}

.searchContainer h3{
    font-size: 32PX;
    font-weight: bold;
    margin-right: 3rem;
    margin-left: 2rem;
}

.searchContainer input{
    width: 85%;
    background-color: #EFEFEF;
    border-radius: 10PX;
    border-style: none;
    height: 2.3rem;
    box-shadow: 0px 5px 5px #6a6a6aad;
}

.mainSearch h1{
    font-size: 48px;
    font-weight: 600;
    margin-top: 2rem;
    margin-left: 2rem;
}

.pesquisaComida{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comidaContainer{
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
    width: 80%;
    align-items:center;
    border-radius: 1rem;
    margin-bottom: 1rem;
    height: 5rem;
    z-index: 1;

}

.comidaContainer img{
    width: 3rem;
    height: 3rem;
    margin-left: 5rem;
    margin-right: 2rem;
}

.comidaContainer h4{
    font-size: 1rem;
    margin-right: 1rem;
    
}

.comidaContainer p{
    font-size: 0.9rem;
}

.div{
    display: flex;
    flex-direction: column;
}

.mainSearch{
    z-index: 0;
}
