
.body{
    padding: 1vw;
}

.card{
    background-color: var(--B3);
    width: 12vw;
    padding: 2vw 1.5vw;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: left;
    height: 30vh;
    overflow: hidden;
}

.body img{
    display: block;
    margin: 0 auto;
    margin-bottom: 2vw;

    max-width: 100%; 
    max-height: 20vh;
    object-fit: contain;
    grid-row: span 3;
}

.card h4{
    font-size: 1.5vw;
}

.infoCard{
    display: flex;
    gap: 1vw
}

.price{
    color: var(--L1);
    font-size: 1vw;
}

.kcal{
    color: var(--C2);
    font-size: 1vw;
}